
header {
  padding-top: 3vw ;
}
 
 .image_background {
  background-image: url('images/image0.jpg') ;
  background-repeat:no-repeat;
  background-size:contain;
  background-position: top;
  background-size:  100% auto ;
  /*width: 100vw;*/
  } 

  .space_10 {
    height: 50vw;
  }
 
  .text_3d {
    text-shadow: -1px -1px #fb6, 1px 1px #d60, -3px 0 4px #000;
    font-family:"Segoe print", Arial, Helvetica, sans-serif;
    color: #d8ad1f;
    font-weight:lighter;
    text-align : center ;
    }    

  
    .percent_h1 {
      font-size: 8vw;
      padding-top: 2vh ;
    }
    
    .percent_h2 {
      font-size: 4vw;
      padding: 22vw 0 0 50vw ;
    }
    

  


  