
body {
  background-color: rgb(104, 92, 87);
  font-family:"Kalam", Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

header {
  padding-top: 3vw ;
}
 
 .image_background {
    background-image: url('images/image0.jpg') ;
    background-repeat:no-repeat;
    background-size:contain;
    background-position: top;
    background-size:  100% auto ;
  }
  
  .nav_specif {
    font-weight: bold;
    font-size: 24px;
    padding-right : 5% ;
    padding-top : 0 ;
    margin-top : 0 ;
}  

  .text_3d {
    text-shadow: -1px -1px #fb6, 1px 1px #d60, -3px 0 4px #000;    
    color: #d8ad1f;
    font-weight:lighter;
    text-align : center ;
    }    
  
  .text_p1 {
    padding: 5% 3% 3% 3%;    
    color : white;    
    font-size: 1.05em ;   
  }  

  .text_ref {    
    font-size: 4vh;    
    background-color : green;
    padding: 1vh 3% 1vh 3%;
    box-shadow: 10px 5px 5px rgb(49, 47, 47); 
    border : 2px solid  #d8ad1f; 
    border-radius: 8px;    
  }  

  .text_ref1 {    
    margin-top: -5vh;    
  }  
  
  .text_ref2 {    
    margin-top: -2vh;     
  }

  .size_0 {
    height: 50vw;
  }
  
  .size_1 {
    font-size: 9vw;
    padding-top: 2vh ;
  }
    
  .size_2 {
     font-size: 5vw;
     padding: 22vw 0 0 50vw ;
  }

  .size_3 {
    padding: 3vh 0 5vh 0 ;
  }

  .size_4 {
    padding: 20px 0 ;
    margin : 4% ;    
  }

  .size_12 {
    margin: 2vw 3vw 0 3vw  ;
  }

  .size_13 {
    margin: 10vw 3vw 0 3vw  ;
  }

  .size_c {    
    padding : 2vw 2vw 1vw 2vw ;
    background-color: rgba(141, 127, 120, 0.658);
    box-shadow: 6px 3px 3px rgb(209, 202, 202); 
    border : 1px solid  rgb(158, 141, 133); 
    border-radius: 8px;   
    color : white;    
    font-size: 1.05em ; 
  }
  
  .card_size_1 {
    margin : 0 2vw;
  }

  .card_size_2 {
    margin : 2vw 3vw 0 3vw ;
  }  

  .card_title_color {
    color: #d8ad1f;
  }

  .card_font {    
    font-weight: bold;
  }

  .card_border_color {
    border-color: transparent;
  } 

  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.colorForm {  
  color : rgb(46, 44, 44) ; 
}


.container-fluid { 
  margin-right: auto;
  margin-left: auto;
}



    

  


  